@model RequestAPP.Models.Persona

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4 class="text-center">Detalles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12 text-center">
            Nombre:
        </dt>

        <dd class="col-sm-12 text-center">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <br />
        <dt class="col-sm-12 text-center">
            Apellido:
        </dt>

        <dd class="col-sm-12 text-center">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <br />
        <dt class="col-sm-12 text-center">
            Fecha de nacimiento:
        </dt>

        <dd class="col-sm-12 text-center">
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>
        <br />
        <dt class="col-sm-12 text-center">
            Pasaporte:
        </dt>
        <dd class="col-sm-12 text-center">
            @Html.DisplayFor(model => model.Pasaporte)
        </dd>
        <br />
        <dt class="col-sm-12 text-center">
            Direccion:
        </dt>
        <dd class="col-sm-12 text-center">
            @Html.DisplayFor(model => model.Direccion)
        </dd>

    </dl>
</div>
<div>
   
    <a class="btn btn-outline-info"asp-action="Index">Back to List</a>
</div>
